---
titleOfThisPage: "Portfolio"
---

<div class="container main-page">
    <div class="background-main-page"></div>
    <div class="div-outer">
        <div class="div-inner">
            <div><h1>Programador, maestro, autodidacta</h1></div>
            <div>
                <h3 class="main-page-subtitle">PHP, Node.js, GruntJS, AngularJS, Phonegap, OnsenUI, Polymer, Twig, y unas cuantas cosas más.</h3>
            </div>
        </div>
    </div>
</div>