---
titleOfThisPage: "Portfolio"
---

<div class="container">
    <div>
        <div>
            <div class="col-lg-12"><h1>Programador, maestro, autodidacta</h1></div>
            <div class="col-lg-12">
                <h2>PHP, Node.js, GruntJS, AngularJS, Phonegap, OnsenUI, Polymer, Twig, y unas cuantas cosas más.</h2>
            </div>
        </div>
    </div>
</div>