---
titleOfThisPage: "Parallax"
---
<section class="slide">
    <ul id="scene" class="reset">
        <li class="layer layer-parallax layer-background" data-depth="0.00"></li>
        <li class="layer layer-parallax layer-okami" data-depth="0.40"></li>
        <li class="layer layer-parallax layer-oki" data-depth="0.30"></li>
        <li class="layer layer-parallax layer-waka" data-depth="0.20"></li>
        <li class="layer layer-parallax layer-susano" data-depth="0.30"></li>
        <li class="layer layer-parallax layer-boss-wtf1" data-depth="0.20"></li>
        <li class="layer layer-parallax layer-boss-wtf2" data-depth="0.40"></li>

        <li class="layer layer-parallax layer-title" data-depth="1.0"></li>

        <!--
        <li class="layer layer-background" data-depth="0.00"><img src="assets/img/okami-background.jpg" /></li>
        <li class="layer layer-okami" data-depth="0.20"><img src="assets/img/okami-okami.png"></li>
        <li class="layer layer-oki" data-depth="0.20"><img src="assets/img/okami-oki.png"></li>
        <li class="layer layer-title" data-depth="0.80"><img src="assets/img/okami-title.png"></li>
        -->
    </ul>
</section>