body {
  background-image: url(../../assets/img/bg.png);
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  width: 100%;
}

.body-outer {
  height: 12em;
  margin-top: -6em;
  position: absolute;
  top: 50%;
  width: 800px;
}

.headers {
  color: white;
  text-align: center;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.7);
}

.main-title {
  font-size: 4em;
}

.rmg-nav-container {
  width: 17em;
  margin: auto !important;
}

.container {
  width: 800px;
  margin: auto;
}

footer {
  bottom: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}