/* Changes to the by default template */
.row {
  margin-right: 15px;
  margin-left: 15px;
}

/* Smartphones (portrait) ----------- */
@media only screen and (min-width : 769px) {
  .row {
    margin-right: 100px;
    margin-left: 100px;
  }
}