body {
    font-family : 'Open Sans', sans-serif;
    height      : 100%;
    width       : 100%;
}

.background-main-page {
    background-image    : url(https://farm4.staticflickr.com/3513/4041300978_ba8746aba5_o_d.jpg);
    background-position : 50%;
    background-repeat   : no-repeat;
    background-size     : cover;
    position            : absolute;
    left                : 0;
    width               : 100%;
    height              : 90%;
    margin-top          : -20px;
}

body .hide-preserving {
    opacity : 0;
}

body .navbar:hover {
    opacity : 1;
}

.navbar {
    margin-top : -21px;
    position   : fixed;
    width      : 100%;
    z-index    : 10;
    transition : opacity .5s ease;
    opacity    : 1;
}

.rmg-navbar {
    width      : 100%;
    padding    : 15px;
    color      : rgba(80, 80, 80, 1);
    text-align : center;
    position   : relative;
}

.rmg-navbar li {
    display  : inline-block;
    padding  : 0;
    width    : 33%;
    height   : 50px;
    margin   : 0 0 -30px;
    top      : 0;
    position : absolute;
}

.rmg-navbar li:nth-child(3) {
    left : 65%;
}

.rmg-navbar li:nth-child(2) {
    left : 33%;
}

.rmg-navbar li:first-child {
    left : 0;
}

.rmg-navbar li a {
    color           : rgba(80, 80, 80, 1);
    text-decoration : none;
    width           : 100%;
    height          : 30px;
    top             : 50%;
    position        : absolute;
    margin-top      : -15px;
    left            : 0;
}

.div-outer {
    position   : inherit;
    text-align : center;
    color      : white;
}

.div-inner {
    top           : 50%;
    height        : 150px;
    margin-top    : -75px;
    width         : 70%;
    left          : 15%;
    position      : absolute;
    box-shadow    : inset 0 0 250px 10px rgba(0, 0, 0, .9), 0 0 50px 8px rgba(0, 0, 0, .9);
    border-radius : 90px;
}

footer {
    -webkit-box-shadow : 0 0 6px 0 rgba(0, 0, 0, 0.75);
    -moz-box-shadow    : 0 0 6px 0 rgba(0, 0, 0, 0.75);
    box-shadow         : 0 0 6px 0 rgba(0, 0, 0, 0.75);

    bottom             : 0;
    background-color   : white;
    padding            : 1em;
    text-align         : center;
    width              : 100%;
    font-size          : 12px;
}

#social {
    transition : opacity .5s ease;
}

body #social:hover {
    opacity : 1;
}

#social .social-link {
    display             : inline-block;
    background-repeat   : no-repeat;
    background-size     : contain;
    background-position : center;
    width               : 30px;
    height              : 30px;
    opacity             : 0.90;
}

.main-page ~ footer {
    position : absolute;
}

.main-page-subtitle {
    display : none;
}

.blog {
    margin-top : 40px;
}

.post-image {
    width             : 100%;
    height            : 230px;
    background-size   : cover;
    background-repeat : no-repeat;
}

.post-excerpt {
    width  : 90%;
    margin : auto;
}

.post {
    width  : 100%;
    margin : 40px auto auto;
}

.post h1 {
    text-align : center;
}

.post .date {
    text-align : center;
}

.post p,
.post h1,
.post h2,
.post h3,
.post h4,
.post h5,
.post h6,
.post ul {
    margin : 20px auto;
    width  : 90%;
}

.post img[alt='main-image'] {
    width : 100%;
}

.post img[alt='help-image'] {
    margin    : auto;
    display   : inherit;
    max-width : 100%;
}

.help-block {
    text-align : center;
}

@media only screen
and (max-width : 1023px) {
    #social {
        opacity : 0.90 !important;
    }
}

@media only screen
and (min-width : 480px)
and (min-height : 530px) {

    .main-page-subtitle {
        display : inherit;
    }
}

@media only screen
and (min-width : 768px) {

    .div-outer {
        position   : inherit;
        text-align : center;
        color      : white;
    }

    .div-inner {
        position   : absolute;
        top        : 50%;
        height     : 300px;
        margin-top : -150px;
        width      : 70%;
        left       : 15%;
    }

    footer {
        font-size : inherit;
    }
}

@media only screen
and (min-width : 900px) {
    .navbar-container {
        width  : 500px;
        margin : auto;
    }

    .blog, .post {
        max-width : 875px;
    }
}

@media only screen
and (min-width : 1024px) {
    .blog ~ footer #social,
    .post ~ footer #social {
        position    : fixed;
        left        : 0;
        top         : 50%;
        height      : 200px;
        width       : 30px;
        margin-top  : -100px;
        margin-left : 25px;
    }

    .blog ~ footer .social-separator,
    .post ~ footer .social-separator {
        opacity : 0;
    }
}