<footer>
    <div class="container">
        <div class="row">
            <div class="text-center">
                <p>
                    <span>
                        Escrito y mantenido por Rafael Minguet García<br />
                        Todo el contenido bajo la licencia
                        <a href="http://www.gnu.org/licenses/gpl-2.0.html" target="_blank">
                          GNU GPL v2
                        </a>
                        , 2015
                    </span>
                    <div id="social">
                        <span>
                            <a href="https://github.com/ramingar" target="_blank">
                                <div class="social-link" style="background-image:url({{pathAssets}}/img/github.png)"></div>
                            </a>
                            <span class="social-separator"> | </span>
                            <a href="https://es.linkedin.com/in/ramingar/es" target="_blank">
                                <div class="social-link" style="background-image:url({{pathAssets}}/img/linkedin.png)"></div>
                            </a>
                            <span class="social-separator"> | </span>
                            <a href="https://twitter.com/ramingar" target="_blank">
                                <div class="social-link" style="background-image:url({{pathAssets}}/img/twitter.png)"></div>
                            </a>
                            <span class="social-separator"> | </span>
                            <a href="http://pastebin.com/u/Rafael_Minguet" target="_blank">
                                <div class="social-link" style="background-image:url({{pathAssets}}/img/pastebin.png)"></div>
                            </a>
                        </span>
                    </div>
                </p>
            </div>
        </div>
    </div>

    <!-- Github icon: Antoine Llorca (https://dribbble.com/antoine) -->
    <!-- LinkedIn icon: boogalabee (http://boogalabee.deviantart.com) -->
    <!-- Pastebin icon: Cuenta twitter Pastebin (https://twitter.com/pastebin) -->
    <!-- Twitter icon: iconhive (http://iconhive.deviantart.com) -->
</footer>