<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <p>
          <span>
            Todo el contenido bajo la licencia 
            <a href="http://www.gnu.org/licenses/gpl-2.0.html" target="_blank">
              GNU GPL v2
            </a>
            , 2015
          </span>
          <div id="social">
            <span>
              <a href="https://github.com/ramingar" target="_blank">
                <img src="{{pathAssets}}/img/github.png" alt="GitHub"/>
              </a> | 
              <a href="https://es.linkedin.com/in/ramingar/es" target="_blank">
                <img src="{{pathAssets}}/img/linkedin.png" alt="LinkedIn"/>
              </a> | 
              <a href="https://twitter.com/ramingar" target="_blank">
                <img src="{{pathAssets}}/img/twitter.png" alt="Tuitah"/>
              </a> | 
              <a href="http://pastebin.com/u/Rafael_Minguet" target="_blank">
                <img src="{{pathAssets}}/img/pastebin.png" alt="Pastebin"/>
              </a>
            </span>
          </div>
        </p>

      </div>
    </div>
  </div>

  <!-- Github icon: Antoine Llorca (https://dribbble.com/antoine) -->
  <!-- LinkedIn icon: boogalabee (http://boogalabee.deviantart.com) -->
  <!-- Pastebin icon: Cuenta twitter Pastebin (https://twitter.com/pastebin) -->
  <!-- Twitter icon: iconhive (http://iconhive.deviantart.com) -->
</footer>