<!-- Navigation -->
<nav class="navbar navbar-default" role="navigation">
    <div>
        <div>
            <ul class="rmg-navbar">
                <li>
                    <a href="/">Inicio</a>
                </li>
                <li>
                    <a href="/blog.html">Blog</a>
                </li>
                <li>
                    <a href="#">About me...</a>
                </li>
            </ul>
        </div>
    </div>
</nav>