<!-- Navigation -->
<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-container">
        <div>
            <ul class="rmg-navbar">
                <li>
                    <a href="/">Inicio</a>
                </li>
                <li>
                    <a href="/blog.html">Blog</a>
                </li>
                <li>
                    <a target="_blank" href="https://es.linkedin.com/in/ramingar">About me...</a>
                </li>
            </ul>
        </div>
    </div>
</nav>