---
mainTitle: <%= defaultTitle %>  # Lo-Dash template working here!!
---
<!DOCTYPE html>
<html lang="es">
  
<head>
    {{>header-metas}}
    <title>{{>title}}</title>
    {{>header-css}}
</head>

<body>

    {{>body-header}}
    {{>navigation}}

    <div class="container">
        {{>body}}
    </div>
  
    {{>footer}}
    {{>footer-js}}
  
    {{#is page.filename "index.html"}}
        <!-- Activate the carousel (only if current page is index.html) -->
        {{>footer-activate-carousel}}
    {{/is}}

</body>

</html>
