---
mainTitle: <%= defaultTitle %>  # Lo-Dash template working here!!
---
<!DOCTYPE html>
<html lang="es">
  
<head>
    {{>header-metas}}
    <title>{{>title}}</title>
    {{>header-bootstrap}}
</head>

<body>

    {{>body-header}}
    {{>navigation}}

    <div class="container">
        {{>body}}
    </div>
  
    {{>footer}}
    {{>footer-js}}

</body>

</html>
