---
mainTitle: <%= defaultTitle %>  # Lo-Dash template working here!!
---
<!DOCTYPE html>
<html lang="es">
  
<head>
    {{>header-metas}}
    <title>{{>title}}</title>
    {{>header-bootstrap}}
</head>

<body>

    {{>body-header}}
    {{>navigation}}

    <div class="container">
        {{>body}}
    </div>
  
    {{>footer}}

    {{#is page.filename "index.html"}}
        <!-- Load all necessary files to carousel works (only if current page is index.html) -->
        {{>footer-js}}
    {{/is}}

</body>

</html>
