---
mainTitle: <%= defaultTitle %>  # Lo-Dash template working here!!
pathToAssets: <%= pathAssets %>
---
<!DOCTYPE html>
<html lang="es">
  
<head>
    {{>header-metas}}
    <title>{{>title}}</title>
    {{>header-css}}
</head>

<body>

    {{>body-header}}
    {{>navigation}}

    {{>body}}
  
    {{>footer}}
    {{>footer-js}}
  
    {{#is page.filename "index.html"}}
        <!-- Activate the carousel (only if current page is index.html) -->
        {{>footer-activate-carousel}}
    {{/is}}

    {{#is page.filename "blog.html"}}
        <!-- Retrieve posts in JSON (only if current page is blog.html) -->
        {{>footer-retrieve-posts-json}}
    {{/is}}

</body>

</html>
