---
mainTitle: <%= defaultTitle %>  # Lo-Dash template working here!!
---
<!DOCTYPE html>
<html lang="es">
  
<head>
    {{>header-metas}}
    <title>{{>title}}</title>
    {{>header-css}}
</head>

<body>

    {{>body-header}}
    {{>navigation}}
  
    <div class="container post">
        <div class="row">
            <div class="text-left">
                <div class="post">
                    {{#markdown}}
                        {{>body}}
                    {{/markdown}}
                </div>
            </div>
        </div>
    </div>
  
    {{>footer}}
    {{>footer-js}}
    {{>jquery-on-extended}}
    {{>effects}}
    {{>footer-posts-layout-activate-effects}}
    {{>footer-highlight-syntax}}
  
</body>

</html>
